@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    width: 100%;
    /* height: 100%; */
}

.row h1{
    font-size: 47px;
    margin-left: 85px;
    margin-bottom: 1rem;
    color: #574128;
}



.form-control {
    
    background: #FFF3DD;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    width: 60px;  /* Sesuaikan dengan lebar yang diinginkan */
    height: 25px;
    /* margin-top: 10rem; */
}






.card-body table{
    background: #EEDEC2;
    padding: 25px 100px;
    position: relative; 
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    margin-top: 1rem;
    border-radius: 20px;
    text-align: center;
}

.card-body th{
    font-size: 16px;
    margin-bottom: 1rem;
}

.card-body tr{
    text-align: center;
    color: #574128;

}


.card-body td{
    height: 10px;
    /* color: #574128; */

}
.card-body h3 {
    font-size: 36px;
}

.card-body tfoot{
    margin-top: 1rem;
}

.card-body button{
    border: none;
    background: #ffff;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #574128;


}

.garis-horizontal{
    margin-top: 1rem;
    height: 1px;
    margin-left: 0rem;
    width: 100%;
    /* background-color: rgb(255, 243, 221); */
    justify-content: center;
    background-color: #574128;
}

.a{

}



/* Footer section*/
footer{
    /* height: 100%; */
    width: 100%;
    /* margin: 0; */
    background : rgb(135, 100, 69);
    position: absolute;
    /* bottom: 0; */
}

.content{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 2rem;
}

.logo-footer{
    /* display: flex; */
    align-items: center;
    gap: 1rem;
    margin-right: 30%;
}

.logo-footer p{
    font-size: 0.8rem;
    color: rgb(255, 243, 221);
}

.logo-img{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-footer ul{
    margin-top: 0.5rem;
    list-style: none;
    display: flex;
    gap:3rem;
}

.nav-links {
    margin: 0 auto;
}

.icon-footer{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-footer a{
    text-decoration: none;
    color: rgb(255, 243, 221);
}

.nav-footer a:hover{
    color: rgb(255, 243, 221);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

#horizontal-line{
    margin-top: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
    /* width: 100%; */
    height: 1px;
    background-color: rgb(255, 243, 221);
}

.copyright{
    margin-right: 5rem;
    padding-bottom: 0.1rem;
}

.copyright p{
    font-size: 0.8rem;
    text-align: end;
    color: rgb(255, 243, 221);
}

