@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    width: 100%;
    /* height: 100%; */
}

/* About section */
#pawsit{
    /* padding-top: 2.5rem; */
    position: relative;
    
}

.operational_hours{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    /* margin-left: 10rem;
    margin-right: 10rem; */
}

.pawsit-details-container{
    justify-content: center;
    flex-direction: column;
}

.pawsit-container,
.pawsit-details-container{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.section-container{
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 25px;
}

.our-section-container{
    background-color: #CEAE8B;
    padding-bottom: 5rem;
}

.hero{
    margin-top: 5rem;
    margin-left: 5rem;
}

.our-title{
    text-align: center;
}

.our p{
    text-align: center;
}

.our-container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50vh;
}

.our-details-container{
    justify-content: center;
    flex-direction: column;
}

.our-container,
.our-details-container{
    display:flex;
    flex-direction: column;
    padding: 9px;
}

.product-details-container{
    justify-content: center;
    flex-direction: column;
}

.product-container,
.product-details-container{
    display:flex;
    flex-direction: row-reverse;
    gap: 100px;
}

.custom-shape-divider-bottom-1716989819 {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1716989819 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.custom-shape-divider-bottom-1716989819 .shape-fill {
    fill: #CEAE8B;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-container,
.about-details-container{
    display:flex;
    flex-direction: row;
    padding: 1rem;
}
.about-container,
.about-details-container{
    display:flex;
    padding: 1rem;
}

/* .desc-container{
    margin-top: 5rem;
    margin-left: 5rem;
} */

.desc-container h1{
    color : rgb(87, 65, 40);
}


#map{
    position: relative;
}
.map-details-container{
    justify-content: center;
    flex-direction: column;
    background-color:#FFF5E4;
    margin-bottom: 5rem;
    padding: 2rem;
    border-radius: 20px;
}

.map-container,
.map-details-container{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.map-desc-container{
    width: 80%;
}

.map-desc-container h1{
    margin-bottom: 0px;
}

.map-desc-container p{
    margin-top: 0px;
}


.wa-logo{
    display:flex;
    gap: 1rem;
    flex-direction: column;
}

.logo-logo{
    display:flex;
    text-align: center;
    align-items: center;
    gap: 1rem;
    /* gap: 20%; */
    
}

.logo-logo p{
    margin: 0px;
}

.abt-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.abt-wave svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 127px;
    transform: rotateY(180deg);
}

.abt-wave .shape-fill {
    fill: #FFF8ED;
}


/* Footer section*/
footer{
    /* height: 100%; */
    width: 100%;
    /* margin: 0; */
    background : rgb(135, 100, 69);
}

.content{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 2rem;
}

.logo-footer{
    /* display: flex; */
    align-items: center;
    gap: 1rem;
    margin-right: 30%;
}

.logo-footer p{
    font-size: 0.8rem;
    color: rgb(255, 243, 221);
}

.logo-img{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-footer ul{
    margin-top: 0.5rem;
    list-style: none;
    display: flex;
    gap:3rem;
}

.nav-links {
    margin: 0 auto;
}

.icon-footer{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-footer a{
    text-decoration: none;
    color: rgb(255, 243, 221);
}

.nav-footer a:hover{
    color: rgb(255, 243, 221);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

#horizontal-line{
    margin-top: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
    /* width: 100%; */
    height: 1px;
    background-color: rgb(255, 243, 221);
}

.copyright{
    margin-right: 5rem;
    padding-bottom: 0.1rem;
}

.copyright p{
    font-size: 0.8rem;
    text-align: end;
    color: rgb(255, 243, 221);
}


.-mx-3 flex flex-1 justify-end{
    text-align: center;
}


