@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    width: 100%;
    /* height: 100%; */
}

.profile-container{
  margin-left: 10rem;
  margin-right: 10rem;
}

.nav a{
  text-decoration: none;
  color: rgb(87,65,40);
}

.logo a:hover{
  color: rgb(87,65,40);
  text-decoration: none;
}

.nav a:hover{
  color: rgb(87,65,40);
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.main-container{
  /* width:1200px; */
  margin:auto;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin-left: 10rem;
  margin-right: 10rem;
}

.navbar{
  list-style: none;
  display: flex;
  gap:4rem;
  /* align-items: start; */
}

.navbar li{
  list-style: none;
  display: flex;
  align-items: start;
}

.nav-icon{
  display: flex;
  gap: 1.5rem;
}

/* Basic styling for dropdown */
#profile-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none; /* Hide dropdown by default */
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  /* display: none; */
  padding: 8px 16px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
}

.dropdown-menu li a:hover {
  background-color: #ddd;
}

/* Show dropdown menu on hover */
#profile-dropdown:hover .dropdown-menu {
  display: block;
}

/* Style for the Logout button */
.nav-link {
  background: #ffff;
  border: none;
  /* color: #007bff; */
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 40; /* Remove default padding */
}

.nav-link:hover {
  text-decoration: underline;
}

/* Optional: Adjust margins or paddings for spacing */
