@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    width: 100%;
    /* height: 100%; */
}

.w-full {
    background: #CEAE8B;
    padding: 30px 10px;
    /* position: relative;  */
    margin-left: 25rem;
    margin-right: 25rem;
    margin-bottom: 1rem;
    /* margin-top: 5px; */
    border-radius: 20px;
    text-align: center;

}
.form h2{
    font-size: 47px;
    color: #574128;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.border-gray-300{
    padding: 10px 80px;
    background: #FFF3DD;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.mt-4{
    justify-content: center;
    display: flex; 
}

.w-full form{
    justify-content: center;
}

.w-full button{
    border: none;
    background-color:#CEAE8B;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color:#574128;
}






/* Footer section*/
footer{
    /* height: 100%; */
    width: 100%;
    /* margin: 0; */
    background : rgb(135, 100, 69);
    position: absolute;
    /* bottom: 0; */
}

.content{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 2rem;
}

.logo-footer{
    /* display: flex; */
    align-items: center;
    gap: 1rem;
    margin-right: 30%;
}

.logo-footer p{
    font-size: 0.8rem;
    color: rgb(255, 243, 221);
}

.logo-img{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-footer ul{
    margin-top: 0.5rem;
    list-style: none;
    display: flex;
    gap:3rem;
}

.nav-links {
    margin: 0 auto;
}

.icon-footer{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-footer a{
    text-decoration: none;
    color: rgb(255, 243, 221);
}

.nav-footer a:hover{
    color: rgb(255, 243, 221);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

#horizontal-line{
    margin-top: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
    /* width: 100%; */
    height: 1px;
    background-color: rgb(255, 243, 221);
}

.copyright{
    margin-right: 5rem;
    padding-bottom: 0.1rem;
}

.copyright p{
    font-size: 0.8rem;
    text-align: end;
    color: rgb(255, 243, 221);
}

